// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.pd-top-lg {
    padding-top: $lg;
}

.pd-btm-lg {
    padding-bottom: $lg;
}

.pd-lr-lg {
    padding-left: $lg;
    padding-right: $lg;
}
